* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#photos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-transform: capitalize;
}

.list-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-transform: capitalize;
    padding: 20px 0;
}

.card {
    max-width: 18rem;
}
